doctype html
html
  block head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block title
    script(src='/assets/main.js')
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      .list-group
        .list-group-item
          h3= `Total: ${logs.length} items`
        each l in logs
          .list-group-item
            p= l.date
            p= l.link
            p
              strong ServiceUser: 
              = l.user
            p
              strong Result: 
              = l.status ? l.status: l.error

